.App {
  text-align: center;
}

@font-face {
  font-family: SIMPLIFICA;
  src: url(fonts/SIMPLIFICA.ttf);
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: SIMPLIFICA;
  font-size: calc(25px + 2vmin);
  font-weight: 700;
  min-height: 100vh;
}

#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  margin-top: 30px;
  margin-bottom: 30px;
}

#title h3,
#title h6 {
  margin: 10px;
}

#prediction {
  min-height: 60vh;
}

#upload-image-btn {
  font-family: SIMPLIFICA;
  font-weight: 700;
  font-size: calc(10px + 2vmin);
  margin-bottom: 30px;
}

#footer {
  font-size: calc(8px + 2vmin);
  margin-bottom: 30px;
}

.fade {
  opacity: 0;
  animation: FadeIn 1s ease-in-out forwards;
}

.fade-faster {
  opacity: 0;
  animation: FadeIn 0.5s ease-in-out forwards;
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
